{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 bg-info">
            <h3><u>Change Spending Plot Variables</u></h3>
            <br><br>
            <form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}

                {% for item in form if item.widget.input_type!='hidden' %}
                <div class="row">
                    <div class="col-md-4">{{ item.label }}</div>
                    <div class="col-md-8">{{ item(style="width: 100%;") }}</div> 
                </div>
                <br>
                {% endfor %}
            </form>
            <br>
        </div>

        <div class="col-md-8">
            <canvas id="myChart" width="400" height="300"></canvas>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chartjs-plugin-colorschemes.min.js') }}"></script>
     
    <!-- CDN
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
     -->
     
    <script>
        var label = {{ data['label'] | tojson }}
        var labels = {{ data['labels'] | safe }}
        var expenses = {{ data['data_expenses'] | safe }}
        var income = {{ data['data_income'] | safe }}

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: "Expenses",
                    data: expenses
                },{
                    label: "Income",
                    data: income
                }]
            },
            options: {
                plugins: {
                    colorschemes: {
                        scheme: 'brewer.SetOne3'
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            if (tooltipItem.datasetIndex === 0) {
                                var value = data.datasets[0].data[tooltipItem.index];
                                return '$' + value.toFixed(2);    
                            } else if (tooltipItem.datasetIndex === 1) {
                                var value = data.datasets[1].data[tooltipItem.index];
                                return '$' + value.toFixed(2);
                            }
                        }
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            callback: function(value, index, values) {
                                return '$' + value;
                            },  
                            beginAtZero: true         
                        }
                    }]
                }
            }
        });
    </script>

</div>
{% endblock %}