<table id="responsive" class="display">
    <thead>
        <tr>
            <th class="col-md-3">Category Title</th>
            <th class="col-md-3">Spending Category</th>
            <th class="col-md-3">Annual Budget</th>
            <th class="col-md-3">Current Balance</th>
        </tr>
    </thead>
    <tbody>  
        {% for category in budget_categories %}
        <tr>
            <td>{{ category.category_title }}</td>
            <td>{{ category.spending_category }}</td>
                {% for history in category.budget_history if history.status == 'C' %}
            <td>{{ "$%.2f"|format(history.annual_budget) }}</td>
                {% endfor %}
            <td>{{ "$%.2f"|format(category.current_balance) }}</td>       
        </tr>    
        {% endfor %}
    </tbody>
</table >
