<div class="table_container">
    <table id="serverside_table" class="display" cellspacing="0">
        <thead>
            <tr>
                <th class="col-md-3">Category Title</th>
                <th class="col-md-3">Spending Category</th>
                <th class="col-md-3">Annual Budget</th>
                <th class="col-md-3">Current Balance</th>
            </tr>
        </thead>
        <!--{# <tbody>  
            {% for category in budget_categories %}
            <tr>
                <td>{{ category.category_title }}</td>
                <td>{{ category.spending_category }}</td>
                    {% for history in category.budget_history if history.status == 'C' %}
                <td>{{ "$%.2f"|format(history.annual_budget) }}</td>
                    {% endfor %}
                <td>{{ "$%.2f"|format(category.current_balance) }}</td>       
            </tr>    
            {% endfor %}
        </tbody> #}-->
    </table >
    <body>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>  
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/budget_view.js') }}"></script>
    </body>
</div>
