{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

    <h2>Delete or End Budget Category</h2>

    <h3>Select a Category to Delete or End</h3>
    <br>
    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {% include 'budgets/_select_budget_categories.html' %}

        <br>
        <div class="row">
            <h3>Delete or End the Budget?</h3>
        </div>
        <div class="row">
            {{ form.delete_or_end_budget(style="list-style:none") }}
        </div>
        <div class="row">
                <h6><B>Deleting</B> will completely remove the budget category. Do this if you made the category in error.</h5>
                <h6><b>Ending</b> will close the budget, but retain historical data about the category.</h5>
                <h6><i><b>Note:</b> if a category has any transactions posted against it, you can only end the category</i></h6>   
        </div>
        <div class="row">
            {{ form.submit }}
        </div>

{% endblock %}