{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

    <h1>Delete or End Budget Category</h1>

    <h3>Select a Category to Delete or End</h3>
    <br>
    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Select</th>
                    <th class="col-md-12">Budget Category</th>
                </tr>
            </thead>    
            <tbody>
                {% for option in form.select_budget %}
                <tr>
                    <th scope='row'>{{ option }}</th>
                    {% for category in budget_categories if category.id == option.data%}
                    <td>{{ category.category_title }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table >
        <br>
        <div class="row">
            <h3>Delete or End the Budget?</h3>
        </div>
        <div class="row">
            <!-- TODO: remove note once end function implemented -->
            <h4><i><b>Note:</b> Only delete functionality is implemented at this time.</i></h4>
        </div>
        <div class="row">
            {{ form.delete_or_end_budget(style="list-style:none") }}
        </div>
        <div class="row">
                <h6><B>Deleting</B> will completely remove the budget category. Do this if you made the category in error.</h5>
                <h6><b>Ending</b> will close the budget, but retain historical data about the category.</h5>
                <h6><i><b>Note:</b> if a category has any transactions posted against it, you can only end the category</i></h6>   
        </div>
        <div class="row">
            {{ form.submit }}
        </div>

{% endblock %}