{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<br>
<div class="container-fluid">
    <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }} 
    
    <div class="row">
        <div class="col-md-4 bg-dark text-white">
            <h4>Budgets</h4>
            <br>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item bg-dark text-white">
                    <a class="nav-link bg-dark text-white" href="{{ url_for('main.budget_add') }}">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-dark text-white" href="{{ url_for('main.budget_edit') }}">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-dark text-white" href="{{ url_for('main.budget_fund') }}">Fund</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-primary text-white" href="{{ url_for('main.budget_delete') }}">Delete</a>
                </li>
            </ul>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h5>Delete or End the Budget?</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.delete_or_end_budget(style="list-style:none") }}
                </div>
            </div>
            {% for error in form.delete_or_end_budget.errors %}
            <div class="row">
                <div class="col-md-12">
                    <span style="color: red; width: 100%;">{{ error }}</span>
                </div>
            </div>
            {% endfor %}

        <div class="row">
                <div class="col-md-12">
                    <p>
                        <B>Deleting</B> will completely remove the budget category. Do this if you made the category in error.<br>
                        <b>Ending</b> will close the budget, but retain historical data about the category.<br>
                        <i><b>Note:</b> if a category has any transactions posted against it, you can only end the category</i><br>
                    </p> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.submit }}
                </div>
            </div><br>
        </div>
        <div class="col-md-8">
            <h4>Select Budget to be Deleted or Ended</h4>
            <br>
            {% include 'budgets/_select_budget_categories.html' %}
        </div>
    </div>
    </form>
</div>


{% endblock %}