{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

    <h2>Edit Budget Category</h2>

    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <div class="row">
            <div class="col-md-4">
                <h3>Enter Data to be Changed</h3>
                <br>

                {% for item in form if item.name != "select_budget" and item.widget.input_type!='hidden' %}
                <div class="row">
                    <div class="col-md-5">{{ item.label }}</div>
                    <div class="col-md-3">{{ item }}</div>
                </div>
                <br>
                {% endfor %}
            </div>
            <div class="col-md-8">
                <h3>Select a Category to Edit</h3>
                {% include 'budgets/_select_budget_categories.html' %}
            </div>
        </div>
    </form>

{% endblock %}
