{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<div class="container">
    <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    <div class="row">
        <div class="col-md-4 bg-info">
            <h3><u>Fund Budget Categories</u></h3>
            <br><br>
            <div class="row">
                <div class="col-md-4">
                    {{ "$%.2f"|format(unallocated_income) }}
                </div>
                <div class="col-md-8">
                    Remaining income to be allocated.
                </div>
            </div>
            <br> 

            <div class="row">
                <div class="col-md-4">
                    {{ form.unallocated_income(style="width: 100%;", **{"oninput":"sumEntries()"}) }}
                </div>
                <div class="col-md-8">
                    New income to be allocated.
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <b><p id="remainder"></p></b>
                </div>
                <div class="col-md-8">
                    Total remaining to be allocated.
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-12">
                    {{ form.submit }}
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-8">
            <h4>Current Budget Data</h4>
            <br>
            <table id="responsive" class="display">
            <!-- TODO: figure out how to use the new serverside tables with 
                    the funding sheet. -->
            <!-- <table id="serverside_table" class="display" cellspacing="0"> -->

                <thead>
                    <tr>
                        <th>Add to Balance</th>
                        <th class="col-md-">Category Title</th>
                        <th class="col-md-3">Spending Category</th>
                        <th class="col-md-3">Annual Budget</th>
                        <th class="col-md-3">Current Balance</th>
                    </tr>
                </thead>
                <tbody>  
                    {% for form in form.fund_budgets %}
                    {{ form.hidden_tag() }}
        
                    <tr>
                        {% for item in form if item.widget.input_type!='hidden'%}
                        <th scope="row">{{ item(**{"oninput":"sumEntries()"}) }}</th>
                        {% endfor %}
                        {% for category in budget_categories if category.id == form.name %}
                        <td>{{ category.category_title }}</td>
                        <td>{{ category.spending_category }}</td>
                            {% for history in category.budget_history if history.status == 'C' %}
                        <td>{{ "$%.2f"|format(history.annual_budget) }}</td>
                            {% endfor %}
                        <td>{{ "$%.2f"|format(category.current_balance) }}</td>       
                        {% endfor %}
                    </tr>    
                    {% endfor %}
                </tbody>
            </table >
        </div>
    </div>
    </form>
</div>
<body>
    <script>
        function sumEntries() {
            var prev_entry = Number({{ unallocated_income|safe }})
            var entry = Number(document.querySelector("#entry").value)

            var values = document.querySelectorAll("#fund");
            
            var sum = 0;
            for ( var i = 0; i < values.length; i++) {   
                sum += Number(values[i].value);
            }

            document.getElementById("remainder").innerHTML = prev_entry + entry - sum

        }
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>  
    <!-- <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/budget_fund.js') }}"></script> -->
    <script>
        $(document).ready( function () {
            $('#responsive').DataTable({
                paging: false,

            });

        } );
    </script>    
</body>

{% endblock %}