{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <h1>Welcome to Budgy!</h1>
    <p>
        We're currently under construction.
    </p>
    <br>
    <div class="row">
        <div class="col-md-3 bg-primary">
            <h5>Budget Links</h5>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 bg-primary">
            <h5>Transaction Links</h5>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 bg-primary">
            <h5>Visualization Links</h5>
        </div>
    </div>
</div>
{% endblock %}