{% extends "base.html" %}

{% block app_content %}
<br>
<div class="container-fluid">
    <div class="container mx-auto text-center">
            <h1 class="display-3">Welcome to Budgy!</h1>
            <br>
            <img src="{{ url_for('static', filename='budgie-4065626_1280.png') }}" alt="The mystical budgie!" height="255" width="300">
            <br>
            <p>We're currently under construction, but a number of useful features for tracking your budget have already been implemented.</p>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-light mx-auto text-center">
            <h5>1. Add Budgets</h5>
        </div>
        <div class="col-md-4 bg-light mx-auto text-center">
            <h5>2. Post Transactions</h5>
        </div>
        <div class="col-md-4 bg-light mx-auto text-center">
            <h5>3. Visualize Your Data</h5>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 bg-light mx-auto text-center">                
            <p>Add a budget category and allot a budgetary target.</p>
        </div>
        <div class="col-md-4 bg-light mx-auto text-center">
            <p>Enter transactions against your budgets and keep track of your current balance.</p>
        </div>
        <div class="col-md-4 bg-light mx-auto text-center">    
            <p>Add a budget category and allot a budgetary target.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 bg-light mx-auto text-center">
            <a class="btn btn-secondary" href="{{ url_for('main.budget_add') }}" role="button">View details »</a></p>
        </div>
        <div class="col-md-4 bg-light mx-auto text-center">    
            <a class="btn btn-secondary" href="{{ url_for('main.trans_add') }}" role="button">View details »</a>
        </div>
        <div class="col-md-4 bg-light mx-auto text-center">    
            <a class="btn btn-secondary" href="{{ url_for('visuals.income_v_spending') }}" role="button">View details »</a>
        </div>
    </div>
</div>
{% endblock %}