{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

<div class="table_container">
    <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {{ form.submit }}

    <table id="serverside_table" class="display" cellspacing="0">
        <thead>
            <th>Select</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Expense Type</th>
            <th>Category</th>
            <th>Vendor</th>
            <th>Note</th>
        </thead>
    </table>
    </form>
</div>

{% endblock %}

{% block scripts %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>  
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/trans_select.js') }}"></script>  

{% endblock %}