{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-dark text-white">
            <div class="container-fluid">
                <h4>Profile</h4>
                <br>
                <div class="row">
                    <img src="{{ user.avatar(128) }}" class="rounded mx-auto d-block"></td>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <p>Username:</p>
                    </div>                    
                    <div class="col-md-6">
                        <p>{{ user.username[0]|upper }}{{ user.username[1:] }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>First Trans. Date: </p>
                    </div> 
                {% if date != 'No transactions entered yet!' %}                   
                    <div class="col-md-6">
                        <p>{{ date }}</p>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Export Data: </p>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <form class="form form-horizontal" method="post" role="form">
                            {{ form.hidden_tag() }}
                            {{ wtf.form_errors(form, hiddens="only") }}

                            {{ wtf.quick_form(form) }}
                
                        </form>                    
                    </div>                    
                </div>
                {% else %}
                    <div class="col-md-6">
                        <p>{{ date }}</p>
                    </div>                    
                </div>
                {% endif %}
                <br>
            </div>
        </div>
        <div class="col-md-8">
            <h4>User Metrics</h4>
            <br>
            <table id="responsive" class="display">
                <thead>
                    <tr align="center">
                        <th class="col-md-2">User Roles</th>
                        <th class="col-md-2"># Budgets</th>
                        <th class="col-md-2"># Transactions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center">
                        <td>
                            {% for role in user.roles %}
                            <p>{{ role }}</p>
                            {% endfor %}
                        </td>
                        <td>{{ user.budget_categories.count() }}</td>
                        <td>{{ user.transactions.count() }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready( function () {
        $('#responsive').DataTable({
            paging: false,
            searching: false,
            sorting: false,
        });
    } );
</script>
{% endblock %}