<table id="responsive" class="display">
    <thead>
        <tr>
            <th>Select
                {% for error in form.select_trans.errors %}
                <span style="color: red; width: 100%;">{{ error }}</span>
                {% endfor %}        
            </th>
            <th class="col-md-3">Date</th>
            <th class="col-md-1">Amount</th>
            <th class="col-md-1">Type</th>
            <th class="col-md-2">Budget Category</th>
            <th class="col-md-2">Vendor</th>
            <th class="col-md-3">Note</th>
        </tr>
    </thead>
    <tbody>  
        {% for option in form.select_trans %}
        <tr>
            <th scope='row'>{{ option }}</td>
            {% for trans in transactions if trans.id == option.data %}
            <td>{{ trans.date }}</td>
            <td>{{ "$%.2f"|format(trans.amount) }}</td>
            {% if trans.ttype == 'E' %}
            <td>Expense</td>
            {% elif trans.ttype == 'I' %}
            <td>Income</td>
            {% elif trans.ttype[0] == 'T' %}
            <td>Transfer</td>
            {% endif %}
            <td>{{ trans.budget_category.category_title }}</td>
            <td>{{ trans.vendor }}</td>
            <td>{{ trans.note }}</td>  
        {% endfor %}       
        </tr>  
        {% endfor %}     
    </tbody>
</table >