<table class="table table-hover">
    <thead>
        <tr>
            <th>Select</th>
            <th class="col-md-2">Date</th>
            <th class="col-md-1">Amount</th>
            <th class="col-md-1">Type</th>
            <th class="col-md-2">Budget Category</th>
            <th class="col-md-2">Vendor</th>
            <th class="col-md-4">Note</th>
        </tr>
    </thead>
    <tbody>  
        {% for option in form.select_trans %}
        <tr>
            <th scope='row'>{{ option }}</td>
            {% for trans in transactions if trans.id == option.data %}
            <td>{{ moment(trans.date).format('ll') }}</td>
            <td>{{ "$%.2f"|format(trans.amount) }}</td>
            {% if trans.ttype == 'E' %}
            <td>Expense</td>
            {% elif trans.ttype == 'I' %}
            <td>Income</td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{ trans.budget_category.category_title }}</td>
            <td>{{ trans.vendor }}</td>
            <td>{{ trans.note }}</td>  
        {% endfor %}       
        </tr>  
        {% endfor %}     
    </tbody>
</table >
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> {{ 'Newer Transactions' }}
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                {{ 'Older Transactions' }} <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
