{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<form class="form form-horizontal" method="post" role="form">
{{ form.hidden_tag() }}
{{ wtf.form_errors(form, hiddens="only") }}
<h2>Add a Transaction</h2>
<div class="row">
    <div class="col-md-4">
        <h4>Enter Transaction Data</h4>
        <br>

        {% for item in form if item.widget.input_type!='hidden' %}
        <div class="row">
            <div class="col-md-3">{{ item.label }}</div>
            <div class="col-md-3">{{ item }}</div> 
        </div>
        <br>
        {% endfor %}
    </div>
    <div class="col-md-8">
        {% include 'budgets/_display_budget_categories.html' %}
    </div>
</div>

</form>

{% endblock %}
