{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<form class="form form-horizontal" method="post" role="form">
{{ form.hidden_tag() }}
{{ wtf.form_errors(form, hiddens="only") }}

    <h1>Add a Transaction</h1>

        <div class="row">
            <div class="col-md-4">
                <h4>Enter Transaction Data</h4>
                <br>
        
                <div class="row">
                    <div class="col-md-3">{{ form.trans_date.label }}</div>
                    <div class="col-md-3">{{ form.trans_date }}</div> 
                </div>
                <br>
                <Div class="row">
                        <div class="col-md-3">{{ form.trans_type.label }}</div>
                        <div class="col-md-3">
                            {% for option in form.trans_type %}
                            <div class="row">
                                    <div class="col-md-1">{{ option }}</div> 
                                    <div class="col-md-1">{{ option.label }}</div>
                            </div>
                            {% endfor %}
                        </div>
                </Div>
                <br>
                <div class="row">
                    <div class="col-md-3">{{ form.trans_amount.label }}</div>
                    <div class="col-md-3">{{ form.trans_amount }}</div>
                </div>
                <br>
                <div class="row">
                        <div class="col-md-3">{{ form.trans_category.label }}</div>
                        <div class="col-md-3">{{ form.trans_category }}</div>
                </div>
                <br>
                <div class="row">
                        <div class="col-md-3">{{ form.trans_vendor.label }}</div>
                        <div class="col-md-3">{{ form.trans_vendor }}</div>
                </div>
                <br>
                <div class="row">
                        <div class="col-md-3">{{ form.trans_note.label }}</div>
                        <div class="col-md-3">{{ form.trans_note }}</div>
                </div>
                <br>
                <div class="row">
                        <div class="col-md-3">{{ form.submit }}</div>
                </div>
                <br>
            </div>

            {% include '_display_budget_categories.html' %}
        </div>

</form>

{% endblock %}
