{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-dark text-white">
            <h4>Transactions</h4>
            <br>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item bg-dark text-white">
                    <a class="nav-link active bg-primary text-white" href="{{ url_for('main.trans_add') }}">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-dark text-white" href="{{ url_for('main.trans_edit') }}">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-dark text-white" href="{{ url_for('main.trans_edit_sched') }}">Edit Scheduled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-dark text-white" href="{{ url_for('main.trans_transfer') }}">Transfer</a>
                </li>
            </ul>
            <br>
            <form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}

                {% for item in form if item.widget.input_type!='hidden' %}
                <div class="row">
                    <div class="col-md-5">{{ item.label }}</div>
                    {% if item ==trans_date %}
                    <div class="input-group date" id="datetimepicker1" >{{ item(style="width: 100%;") }}</div> 
                    {% else %}
                    <div class="col-md-7">{{ item(style="width: 100%;") }}</div> 
                    {% endif %}
                </div>
                {% for error in item.errors %}
                <div class="row">
                    <div class="col-md-12">
                        <span style="color: red; width: 100%;">{{ error }}</span>
                    </div>
                </div>
                {% endfor %}
                <br>
                {% endfor %}
            </form>
            <div class="row"><div class="col-md-12" align="center">------ OR ------</div></div>
            <br>

            <form class="form form-horizontal" method="post" role="form" enctype="multipart/form-data">
            {{ form_batch.hidden_tag() }}
            {{ wtf.form_errors(form_batch, hiddens="only") }}
                    
                {% for item in form_batch if item.widget.input_type!='hidden' %}
                <div class="row">
                    <div class="col-md-5">{{ item.label }}</div>
                    <div class="col-md-7">{{ item(style="width: 100%;") }}</div> 
                </div>
                <br>
                {% endfor %}
            </form>
        </div>
        <div class="col-md-8">
            <h4>Recent Transactions</h4>
            <br>
            {% include 'transactions/_display_transactions.html' %}
        </div>
    </div>
    <body>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>  
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </body>
</div>
{% endblock %}
