{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

    <h1>Delete Transactions</h1>

    <h3>Select a Transaction to Delete</h3>
    <br>
    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Select</th>
                    <th class="col-md-2">Date</th>
                    <th class="col-md-1">Amount</th>
                    <th class="col-md-1">Type</th>
                    <th class="col-md-2">Budget Category</th>
                    <th class="col-md-1">Vendor</th>
                    <th class="col-md-4">Note</th>
                </tr>
            </thead>
            <tbody>
                {% for option in form.select_trans %}
                <tr>             
                    <th>{{ option }}</th>
                    {% for trans in transactions if trans.id == option.data %}
                    <td>{{ trans.date }}</td>
                    <td>{{ "$%.2f"|format(trans.amount) }}</td>
                    <td>{{ trans.ttype }}</td>
                    <td>{{ trans.budget_category.category_title }}</td>
                    <td>{{ trans.vendor }}</td>
                    <td>{{ trans.note }}</td>
                    {% endfor %}
                </tr> 
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-2">
                {{ form.submit }}
            </div>
        </div>
    </form>

{% endblock %}
