{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<br>
<div class="container-fluid">
    <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    <div class="row">
        <div class="col-md-4 bg-dark text-white">
            <h4>Transactions</h4>
            <br>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item bg-dark text-white">
                    <a class="nav-link bg-dark text-white" href="{{ url_for('main.trans_add') }}">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-dark text-white" href="{{ url_for('main.trans_edit') }}">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-primary text-white" href="{{ url_for('main.trans_edit_sched') }}">Edit Scheduled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-dark text-white" href="{{ url_for('main.trans_transfer') }}">Transfer</a>
                </li>
            </ul>
            <br>

            {% for item in form if item.name != 'select_trans' and item.widget.input_type!='hidden' %}
            <div class="row">
                <div class="col-md-5">{{ item.label }}</div>
                <div class="col-md-7">{{ item(style="width: 100%;") }}</div> 
            </div>
            <br>
            {% endfor %}
        
        </div>
        <div class="col-md-8">
            <h4>Select Scheduled Transaction to Edit</h4>
            <br>            
            {% include 'transactions/_select_sched_transactions.html' %}
        </div>
    </div>
    </form>
</div>

<body>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>  
    <!-- <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/budget_fund.js') }}"></script> -->
    <script>
        $(document).ready( function () {
            $('#responsive').DataTable({
                paging: false,
                searching: false,
            });
        } );
    </script>  
</body>
{% endblock %}
