{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-dark text-white">
        <h4>Balance Transfer</h4>
        <br><br>    
        <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

            {% for item in form if item.widget.input_type!='hidden' %}
            <div class="row">
                <div class="col-md-5">{{ item.label }}</div>
                <div class="col-md-7">{{ item(style="width: 100%;") }}</div> 
            </div>
            {% for error in item.errors %}
            <div class="row">
                <div class="col-md-12">
                    <span style="color: red; width: 100%;">{{ error }}</span>
                </div>
            </div>
            {% endfor %}
            <br>
            {% endfor %}
        </form>
        </div>
        <div class="col-md-8">
            <h4>Current Budget Data</h4>
            <br>
            {% include 'budgets/_display_budget_categories.html' %}
        </div>
    </div>
</div>

{% endblock %}