{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

    <h1>View Transactions</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Date</th>
                <th class="col-md-1">Amount</th>
                <th class="col-md-1">Type</th>
                <th class="col-md-2">Budget Category</th>
                <th class="col-md-2">Vendor</th>
                <th class="col-md-4">Note</th>
            </tr>
        </thead>
    {% for trans in transactions %}
    
        {% include 'transactions/_transactions.html' %}
    
    {% endfor %}
    </table>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ 'Newer Transactions' }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ 'Older Transactions' }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    

    
{% endblock %}
