{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Budgy{% else %}{{ 'Welcome to Budgy' }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('main.landing') }}">Budgy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Budgets
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('main.budget_add') }}">Add New Budgets</a>
                    <a class="dropdown-item" href="{{ url_for('main.budget_fund') }}">Fund Budgets</a>
                    <a class="dropdown-item" href="{{ url_for('main.budget_edit') }}">Edit Budgets</a>
                    <a class="dropdown-item" href="{{ url_for('main.budget_delete') }}">Delete Budgets</a>
                    <a class="dropdown-item" href="{{ url_for('main.budget_view') }}">View Budgets</a>
                </div>
            </li>            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Transactions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('main.trans_add') }}">Add Transactions</a>
                    <a class="dropdown-item" href="{{ url_for('main.trans_transfer') }}">Balance Transfer</a>
                    <a class="dropdown-item" href="{{ url_for('main.trans_edit') }}">Edit Transactions</a>
                    <a class="dropdown-item" href="{{ url_for('main.trans_edit_sched') }}">Edit Scheduled Transactions</a>
                    <a class="dropdown-item" href="{{ url_for('main.trans_delete') }}">Delete Transactions</a>
                    <a class="dropdown-item" href="{{ url_for('main.trans_view') }}">View Transactions</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Visualizations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('visuals.income_v_spending') }}">Income vs. Spending</a>
                    <a class="dropdown-item" href="{{ url_for('visuals.spending_by_category') }}">Spending by Category</a>
                </div>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
            {% if current_user.has_role('Admin') %}
            <li class="nav-item active"><a class="nav-link" href="{{ url_for('admin.index') }}">{{ 'Admin' }}</a></li>
            {% endif %}
            {% if current_user.is_anonymous %}
            <li class="nav-item active"></li><a class="nav-link" href="{{ url_for('auth.login') }}">{{ 'Login' }}</a></li>
            {% else %}
            <li class="nav-item active"></li><a class="nav-link" href="{{ url_for('auth.profile') }}">{{ 'Profile' }}</a></li>
            <li class="nav-item active"></li><a class="nav-link" href="{{ url_for('auth.logout') }}">{{ 'Logout' }}</a></li>
            {% endif %}
        </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
<body>
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <br>
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div> 
</body>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}

    <!-- <link rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}"> -->
    
    <!-- Using a CDN -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>  

    <!--{# Using local files
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/datatables.min.css')}}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    #}-->

{% endblock %}
