{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Budgy{% else %}{{ 'Welcome to Budgy' }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.landing') }}">Budgy</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li><a href="{{ url_for('main.landing') }}">{{ 'Home' }}</a></li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a id="dropdown01" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Budgets
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li class="dropdown-item"><a href="{{ url_for('main.budget_add') }}">Add New Budgets</a></li>
                            <li class="dropdown-item"><a href="{{ url_for('main.budget_fund') }}">Fund Budgets</a></li>
                            <li class="dropdown-item"><a href="{{ url_for('main.budget_edit') }}">Edit Budgets</a></li>
                            <li class="dropdown-item"><a href="{{ url_for('main.budget_delete') }}">Delete Budgets</a></li>
                            <li class="dropdown-item"><a href="{{ url_for('main.budget_view') }}">View Budgets</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a id="dropdown02" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Transactions
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown02">
                            <li class="dropdown-item"><a href="{{ url_for('main.trans_add') }}">Add Transactions</a></li>
                            <li class="dropdown-item"><a href="{{ url_for('main.trans_transfer') }}">Balance Transfer</a></li>
                            <li class="dropdown-item"><a href="{{ url_for('main.trans_edit') }}">Edit Transactions</a></li>
                            <li class="dropdown-item"><a href="{{ url_for('main.trans_delete') }}">Delete Transactions</a></li>
                            <li class="dropdown-item"><a href="{{ url_for('main.trans_view') }}">View Transactions</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Visualizations
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown02">
                                <li class="dropdown-item"><a href="#">Plots & Charts</a></li>
                        </ul>    
                    </li>
                    {% endif %}

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('admin.login') }}">{{ 'Login' }}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('admin.logout') }}">{{ 'Logout' }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}

    <!-- <link rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}"> -->
    
    <!-- Using a CDN
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>  
    -->
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables.min.css')}}">
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='datatables.min.js') }}"></script>
    <script>
        $(document).ready( function () {
            $('#responsive').DataTable();
        } );
    </script>
{% endblock %}
